:root {
    --os: 'Oswald', sans-serif;
    --rb: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--rb);
}


.navbar {
    width: 80%;
    padding: 1% 0%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;


}


@media (max-width:590px) {
    .navbar {
        width: 95%;
    }
}

.navbartop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.573);
}



.navbartop .language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    color: gray;
    font-size: 13px;

}

.navbartop .options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    color: gray;
    font-size: 13px;
}

.navbarbottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0% 0%;


}

@media (max-width:500px) {
    .navbarbottom {
        border-bottom: 1px solid #ff00004a;
    }
}

.navbarbottom .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbarbottom .logo img {
    width: 32px;
    margin-right: 10px;
}


.navbarbottom .logo h2 {
    color: red;
    font-size: 24px;
}

@media (max-width:600px) {

    .navbarbottom .logo img {
        width: 25px;
    }


    .navbarbottom .logo h2 {
        font-size: 19px;
    }

}


select {
    background-color: red;
    color: white;
    height: 33px;
    width: 80px;
    border-radius: 4px;
}

@media (max-width:927px) {
    select {
        display: none;
    }
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 3px;
}

.searchbox input {
    width: 300px;
    height: 33px;
    border-radius: 3px;
    outline: none;
    border: none;


}

@media (max-width:600px) {
    .searchbox input {
        width: 80%;
        padding: 0px 5px;
    }
}

.searchbox .lens {
    background-color: red;
    padding: 6px 10px;
    border-radius: 3px;
    margin-right: 3px;

}

.searchbox .lens img {
    width: 15px;
}


@media (max-width:500px) {
    .navbartop {
        display: none;
    }

    .searchbox {
        max-width: 56%;
    }

    .searchbox input {
        height: 30px;
    }

    .searchbox .lens {
        padding: 3px 8px;
    }

    .searchbox .lens img {
        width: 12px;
    }
}


.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
}

@media (max-width:830px) {
    .options {
        display: none;
    }
}

.options div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 3px;

}

.options div img {
    width: 17px;
}

.options div p {
    font-size: 12px;
    font-weight: 500;
}



.hamburger {
    width: 26px;
}


@media (min-width:600px) {
    .hamburger {
        display: none;
    }
}


.itemslist {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1%;
    flex-wrap: wrap;
}

@media (max-width:650px) {
    .itemslist {
        display: none;
    }
}

.itemslist p {
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 4px;
    transition: 0.25s;

}

.itemslist p:hover {
    background-color: rgb(215, 233, 248);
}

.horizontalitems {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.horizontalitems div {
    width: 80px;
    height: 80px;
}

@media (max-width:600px) {
    .horizontalitems div {
        width: 50px;
        height: 50px;
    }

    .horizontalitems {
        width: 95%;
        margin-top: 10px;
    }

}

@media (max-width:450px) {
    .horizontalitems {
        display: none;
    }
}

.horizontalitems div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aerogelbooksection {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width:600px) {
    .aerogelbooksection {
        margin-bottom: 30px;
    }
}



@media (max-width:1000px) {
    .aerogelbooksection {
        flex-direction: column;
        row-gap: 30px;
    }
}

@media (max-width:450px) {
    .aerogelbooksection {
        width: 90%;
        margin-top: 30px;
    }
}

.aerogelbooksection .aerogel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 30px 20px;
    border-radius: 5px;
    width: 60%;
    min-width: 526px;
    min-height: 229px;

}

@media (max-width:660px) {
    .aerogelbooksection .aerogel {
        flex-direction: column;
        row-gap: 40px;
        min-width: fit-content;
        min-height: fit-content;
    }
}

.aerogelbooksection .aerogel .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-left: 6%;
}



.aerogelbooksection .aerogel h1 {
    color: white;
    font-size: 35px;
    font-weight: normal;
}


.aerogelbooksection .aerogel p {
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.671);
}

.aerogelbooksection .aerogel button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.779);
    border: 1px solid rgba(255, 255, 255, 0.799);
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 5px;

}

.aerogelbooksection .imagecont {
    width: 40%;
}

.aerogelbooksection .imagecont img {
    width: 100%;
    min-width: 179px;
}

@media (max-width:450px) {
    .aerogelbooksection .aerogel h1 {
        font-size: 30px;
    }

    .aerogelbooksection .aerogel p {
        font-size: 12px;
        line-height: 18px;
    }

    .aerogelbooksection .aerogel button {
        font-size: 11px;
        padding: 8px 15px;
        letter-spacing: 1px;
    }

    .aerogelbooksection .imagecont {
        width: 80%;
    }
}


.aerogelbooksection .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(#dfa669, #333574);
    border-radius: 4px;
    width: 15%;
    min-height: 280px;
    min-width: 180px;

}

.aerogelbooksection .book img {
    width: 50%;
}

.aerogelbooksection .book p {
    color: white;
    font-size: 13px;
}

.aerogelbooksection .book p:nth-child(2) {
    font-size: 12px;
    font-weight: 300;
}

.aerogelbooksection .book button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.779);
    border: 1px solid rgba(255, 255, 255, 0.799);
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width:450px) {
    .aerogelbooksection .book {
        min-width: none;
        min-height: none;
        width: 100%;
        padding-bottom: 20px;
    }

    .aerogelbooksection .book img {
        width: 60%;
    }

    .aerogelbooksection .book p {
        font-size: 18px;

    }

    .aerogelbooksection .book p:first-child {
        margin-bottom: 0px;
    }

    .aerogelbooksection .book p:nth-child(2) {
        font-size: 13px;
    }


}

.newbookssection {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.newbookssection .titlesection {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width:600px) {
    .newbookssection .titlesection {
        margin-bottom: 0px;
    }
}

.newbookssection .titlesection p {
    font-size: 19px;
    font-weight: 600;
}

.newbookssection .titlesection p:nth-child(2) {
    font-size: 13px;
    font-weight: normal;
    color: gray;

}

.newbookssection .cardscont {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}




.newbookssection .cardscont .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 380px;
    justify-content: center;

}

@media (max-width:800px) {
    .newbookssection .cardscont .card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }

    .newbookssection .cardscont {
        gap: 20px;
    }
}


.newbookssection .cardscont .card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.newbookssection .cardscont .card .price {
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 7px 7px;
    border-radius: 2px;
    margin-top: 20px;
}

.newbookssection .cardscont .card .title {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    width: 80%;
}

.newbookssection .cardscont .card .installment {
    font-size: 12px;
    color: gray;
}

.newbookssection .cardscont .card .ratings {}

.newbookssection .cardscont .card .ratings img {
    width: 15px;
    height: 15px;
}

.newbookssection a {
    margin: auto;
}

.newbookssection button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.779);
    border: 1px solid rgba(0, 0, 0, 0.799);
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: 600;

}

.whysocheap {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    column-gap: 30px;
    min-width: 650px;
}



.whysocheap p {
    font-size: 13px;
    color: gray;

}

.whysocheap p:first-child {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.whysocheap p:nth-child(2) {
    width: 60%;
    text-align: justify;
    line-height: 20px;
}

.whysocheap img {
    width: 130px;
}

@media (max-width:700px) {
    .whysocheap {
        flex-direction: column;
        width: 95%;
        justify-content: center;
        text-align: center;
        min-width: fit-content;
        margin-top: 70px;

    }

    .whysocheap p:nth-child(2) {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        text-align: left;
    }

    .whysocheap p:first-child {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-bottom: 30px;
    }

    .whysocheap img {
        width: 90px;
    }
}


.category {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.category .titlesection {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width:600px) {
    .category .titlesection {
        margin-bottom: 0px;
    }
}

.category .titlesection p {
    font-size: 19px;
    font-weight: 600;
}

.category .titlesection p:nth-child(2) {
    font-size: 13px;
    font-weight: normal;
    color: gray;

}



.allfeatures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
    height: fit-content;
    width: 100%;
    overflow: scroll;



}


.allfeatures .eachitem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.347);
    padding: 5px 10px;
    width: 125px;
    height: 50px;
    margin-right: 20px;





}



.allfeatures .eachitem div {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.allfeatures .eachitem div img {
    width: 50px;
}

.allfeatures a {
    text-decoration: none;
}

.allfeatures .eachitem p {
    font-size: 13px;
    font-weight: 500;

}



@media (max-width:900px) {
    .eachitem {
        scale: 0.8;
        margin-right: 0px !important;
        width: fit-content !important;
    }
}

@media (max-width:660px) {
    .eachitem {
        scale: 0.6;


    }


    .eachitem p {
        font-size: 16px !important;
        font-weight: normal;
    }



    .allfeatures {
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        width: 90%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 200px;
        overflow-y: hidden;
        align-items: center;
        margin: auto;
        margin-bottom: 50px;
        margin-top: -40px;
    }



    .allfeatures .eachitem p {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
    }


    .allfeatures .eachitem {
        row-gap: 20px;
    }

    .allfeatures a:first-child {
        margin-left: 100px;
    }


}



.latestnews {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;

}

.latestnews .titlesection {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width:600px) {
    .latestnews .titlesection {
        margin-bottom: 0px;
    }
}

.latestnews .titlesection p {
    font-size: 19px;
    font-weight: 600;
}

.latestnews .titlesection p:nth-child(2) {
    font-size: 13px;
    font-weight: normal;
    color: gray;

}

.latestnews .cardsection {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

@media (max-width:600px) {
    .latestnews .cardsection {
        row-gap: 50px;
    }
}

.latestnews .cardsection .card {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.latestnews .cardsection .card img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}


.latestnews .cardsection .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latestnews .cardsection .content .desc {
    font-size: 13px;
    width: 80%;
    font-weight: 500;

}

.latestnews .cardsection .content .calendar {
    background-color: #ffedab;
    padding: 5px 9px;
    border-radius: 4px;

}

.latestnews .cardsection .content .calendar p {
    text-align: center;
    font-size: 11px;
    margin: 0px;
}

.latestnews .cardsection .content .calendar p span {
    font-size: 13px;
    font-weight: bold;
}

.latestnews a{
    margin: auto;
    margin-bottom: 50px;
}

.latestnews a button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.779);
    border: 1px solid rgba(97, 68, 68, 0.799);
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 5px;

}



.footer{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: flex-start;
    justify-content: space-around;
    background-color: aliceblue;
    padding-bottom: 48px;

}

.footeroptions{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 40px;
    
}



@media (max-width:950px) {
    .footer{
        flex-direction: column;
        padding-left: 30px;
        box-sizing: border-box;
    }
}

.footeroptions input{
    width: 200px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

.footeroptions p:first-child{
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    color: black;
   
}

.footeroptions p{
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin: 0;
}


.logodiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}
.logodiv p {
    color: #1b3557 !important;
   
}
.logodiv img {
    width: 158px;
    height: 90px;
    object-fit: contain;
}
@media (max-width: 700px) {
    .logodiv img {
        width: 105px;
        margin-bottom: -16px;
   }
}
@media (max-width: 700px) {
    .logodiv {
        row-gap: 10px;
   }
}
.logodiv p {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}
@media (max-width: 700px) {
    .logodiv p {
        font-size: 17px;
   }
}
.logodiv p span {
    color: red;
}
.logodiv P:nth-child(2) {
    font-weight: 500;
    color: gray;
    font-size: 16px;
}
@media (max-width: 700px) {
    .logodiv P:nth-child(2) {
        font-size: 12px;
   }
}


.love {
    width: 100%;
    background-color: aliceblue;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgba(0, 0, 0, 0.427);
    padding-top: 20px;
}
@media (max-width: 884px) {
    .love {
        flex-direction: column;
        row-gap: 20px;
   }
}
.love .logodiv p {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    text-align: center;
}
.love a {
    color: red;
    text-decoration: none;
}
.love p {
    text-align: center;
    padding: 0px 12px;

}
@media (max-width: 600px) {
    .love p {
        font-size: 13px !important;
   }
}
.love .socialicons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
}
.love .socialicons img {
    width: 20px;
    height: 20px;
}
@media (max-width: 600px) {
    .love .socialicons img {
        width: 17px;
        height: 17px;
   }
}
.love .socialicons a {
    margin-top: 10px;
}

.footeroptions .mobile{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 15px;
    height: 70px;
    position: relative;
    width:200px;
    background-color: rgb(215 240 255);
}

@media (max-width:600px) {
    .footeroptions .mobile{
        margin-bottom: 20px;
    }
}


.footeroptions .mobile img{
    width: 150px;
    position: absolute;
    right: -19px;
    top: -38px;
}

.footeroptions .mobile .content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footeroptions .mobile .content a{
    text-decoration: none;
    color: gray;
    

}

.footeroptions .mobile .content p{
    color: gray;
    margin-bottom: 10px;
}




.footeroptions .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footeroptions .logo img {
    width: 62px;
    margin-right: 10px;
}


.footeroptions .logo h2 {
    color: red;
    font-size: 28px;
}

@media (max-width:600px) {

    .footeroptions .logo img {
        width: 45px;
    }


    .footeroptions .logo h2 {
        font-size: 24px;
    }

}
